/*Font Styling*/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(65, 65, 65);
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden; /*Removes a random scroll bar that appears*/
}
h1, h2, h3, h5 {
    font-weight: normal;
}
h1 {
    margin-bottom: 60px;
}
.email {
    color: purple;
}

/*Nav bar styling*/
nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(245, 245, 245);
    border-top: 4px solid purple;
    border-bottom: 1px solid rgb(192, 192, 192);
    padding: 20px 20%;
    margin-bottom: 20px;
    font-size: 1.25em;
    color: purple;
}
a:link {
    text-decoration: none;
}
a:visited {
    color:rgb(53, 53, 53);
}
a:hover {
    color: purple;
}

/*Format everything correctly*/
.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    margin-top: 20px;
    margin-bottom: -100%;
    padding: 0 20%;
}
.column {
    flex: 50%;
    padding: 0px 50px;
    border-left: 1px solid rgb(192, 192, 192);
    height: calc(100% - 200px)
}
.sidecolumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
}

/*Re-format on thinner screens*/
@media only screen and (max-width: 800px) {
    .row {
        flex-direction: column;
        align-items: center;
        overflow: visible;
        padding: 0px 50px;
        margin: 0px;
    }
    .sidecolumn, .column {
        flex: 100%;
        width: 100%;
        padding: 0;
    }
    .column {
        border-left: none;
        border-top: 1px solid rgb(192, 192, 192);
        padding: 0;
        margin-top: -50px;
    }
}

/*Figure Styling*/
figure {
    display: flex;
    flex-direction: column;
    text-align: center;  
}
figcaption {
    display: flex;
    flex-direction: column;
    line-height: 0;
    align-content: flex-start;
    align-items: center;
    margin: auto; 
}
.sidecolumn img {
    border-radius: 50%;
    width: 200px;
    height: auto;
}

/*--Page specific styling--*/
/*Skills*/
div#skillList h3 {
    font-weight: bold;
    margin-bottom: 0;
}
div#skillList .container {
    width: 100%;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(210, 210, 210) ;
    border-radius: 10px;
}
.skills {
    background-color: rgb(40, 100, 255);
    padding: 10px 0px;
    border-radius: 10px;
}
.s1 {width: 90%}
.s2 {width: 50%}
.s3 {width: 65%}
.s4 {width: 100%}

/*Education, Experience*/
table.info {
    width: 100%;
    border-collapse: collapse;
}
th {
    font-size: 20px;
}
.leftside {
    text-align: left;
}
.rightside {
    text-align: right;
}
.creds {
    color: rgb(168, 168, 168);
    margin-top: 20%;
}

/*Interests*/
ul {
    list-style-type: none;
    padding: 0;
    font-weight: 500;
}
ul li {
    margin-top: 10px;
    font-size: 24;
}
ul li a[href] {
    color: purple;
}

/*--Footer--*/
footer {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    border-top: 1px solid rgb(192, 192, 192);
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(245, 245, 245));
    margin-top: auto;
}